Concatenate Numerical and Categorical dataframes into one dataframe called data.

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
from scipy.stats import binom
import matplotlib
import seaborn as sns

In [2]:
categorical = pd.read_csv('categorical1.csv')

In [3]:
numerical=pd.read_csv('numerical.csv')

In [4]:
data = pd.concat([numerical, categorical ], axis=1)

In [5]:
data

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount,state,response,coverage,education,employmentstatus,gender,location_code,marital_status,policy_type,sales_channel,vehicle_class,vehicle_size
0,2763.519279,56274,69,32,5,0,1,384.811147,Washington,No,Basic,Bachelor or above,Employed,F,Suburban,Married,Corporate Auto,Agent,Car,Medsize
1,6979.535903,0,94,13,42,0,8,1131.464935,Arizona,No,Extended,Bachelor or above,Unemployed,F,Suburban,Single,Personal Auto,Agent,Car,Medsize
2,12887.431650,48767,108,18,38,0,2,566.472247,Nevada,No,Premium,Bachelor or above,Employed,F,Suburban,Married,Personal Auto,Agent,Car,Medsize
3,7645.861827,0,106,18,65,0,7,529.881344,California,No,Basic,Bachelor or above,Unemployed,M,Suburban,Married,Corporate Auto,Call Center,SUV,Medsize
4,2813.692575,43836,73,12,44,0,1,138.130879,Washington,No,Basic,Bachelor or above,Employed,M,Rural,Single,Personal Auto,Agent,Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,23405.987980,71941,73,18,89,0,2,198.234764,California,No,Basic,Bachelor or above,Employed,M,Urban,Married,Personal Auto,Web,Car,Medsize
9130,3096.511217,21604,79,14,28,0,1,379.200000,California,Yes,Extended,College,Employed,F,Suburban,Divorced,Corporate Auto,Branch,Car,Medsize
9131,8163.890428,0,85,9,37,3,2,790.784983,California,No,Extended,Bachelor or above,Unemployed,M,Suburban,Single,Corporate Auto,Branch,Car,Medsize
9132,7524.442436,21941,96,34,3,0,3,691.200000,California,No,Extended,College,Employed,M,Suburban,Married,Personal Auto,Branch,Car,Large
9133,2611.836866,0,77,3,90,0,1,369.600000,California,No,Extended,College,Unemployed,M,Suburban,Single,Corporate Auto,Call Center,Car,Medsize

In this final lab, we will model our data. Import sklearn train_test_split and separate the data.

In [6]:
y = data['total_claim_amount']
X = data.drop (['total_claim_amount'], axis=1)

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

Separate X_train and X_test into numerical and categorical (X_train_cat , X_train_num , X_test_cat , X_test_num)

In [8]:
X_train_num= X_train.select_dtypes(include = np.number)
X_train_cat = X_train.select_dtypes(include = object)

In [9]:
X_test_num= X_test.select_dtypes(include = np.number)
X_test_cat = X_test.select_dtypes(include = object)

Use X_train_num to fit scalers. Transform BOTH X_train_num and X_test_num.

In [10]:
from sklearn.preprocessing import MinMaxScaler

In [11]:
#im telling the transformer what the training data is (i'm fitting)
transformer = MinMaxScaler().fit(X_train_num)

#im scaling (also called transforming) my train data
X_train_num_normalized = transformer.transform(X_train_num)
#im scaling (also called transforming) my test data 
X_test_num_normalized = transformer.transform(X_test_num)

Encode the categorical variables X_train_cat and X_test_cat (See the hint below for encoding categorical data!!!)

In [12]:
from sklearn.preprocessing import OneHotEncoder

In [14]:
OHE_cols = X_train_cat[['state','marital_status','policy_type','sales_channel','vehicle_class','response','gender']]

In [19]:
encoder = OneHotEncoder(drop='first').fit(OHE_cols)
cols = encoder.get_feature_names_out(input_features= OHE_cols.columns)
X_train_cat_onehot_encoded = pd.DataFrame(encoder.transform(OHE_cols).toarray(), columns=cols)
X_train_cat_onehot_encoded.head()

,state_California,state_Nevada,state_Oregon,state_Washington,marital_status_Married,marital_status_Single,policy_type_Personal Auto,policy_type_Special Auto,sales_channel_Branch,sales_channel_Call Center,sales_channel_Web,vehicle_class_Luxury Car,vehicle_class_Luxury SUV,vehicle_class_SUV,vehicle_class_Sports Car,response_Yes,gender_M
0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
1,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
3,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [20]:
OHE_cols1 = X_test_cat[['state','marital_status','policy_type','sales_channel','vehicle_class','response','gender']]

In [21]:
encoder1 = OneHotEncoder(drop='first').fit(OHE_cols1)
cols1 = encoder.get_feature_names_out(input_features= OHE_cols1.columns)
X_test_cat_onehot_encoded = pd.DataFrame(encoder1.transform(OHE_cols1).toarray(), columns=cols)
X_test_cat_onehot_encoded.head()

,state_California,state_Nevada,state_Oregon,state_Washington,marital_status_Married,marital_status_Single,policy_type_Personal Auto,policy_type_Special Auto,sales_channel_Branch,sales_channel_Call Center,sales_channel_Web,vehicle_class_Luxury Car,vehicle_class_Luxury SUV,vehicle_class_SUV,vehicle_class_Sports Car,response_Yes,gender_M
0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [22]:
print(X_test_cat_onehot_encoded.shape)
print(X_train_cat_onehot_encoded.shape)

(1827, 17)
(7307, 17)

In [27]:
X_train_cat['coverage'].unique()

array(['Extended', 'Basic', 'Premium'], dtype=object)

In [33]:
X_train_cat['coverage']=X_train_cat['coverage'].map({'Extended':0, 'Basic':0.5, 'Premium':1})

In [34]:
X_test_cat['coverage']=X_test_cat['coverage'].map({'Extended':0, 'Basic':0.5, 'Premium':1})

In [28]:
X_train_cat['employmentstatus'].unique()

array(['Employed', 'Unemployed', 'Disabled', 'Medical Leave', 'Retired'],
      dtype=object)

In [39]:
X_train_cat['employmentstatus']=X_train_cat['employmentstatus'].map({'Employed':0, 'Unemployed':0, 'Disabled':0, 'Medical Leave':0.5, 'Retired':1})

In [40]:
X_test_cat['employmentstatus']=X_test_cat['employmentstatus'].map({'Employed':0, 'Unemployed':0, 'Disabled':0, 'Medical Leave':0.5, 'Retired':1})

In [29]:
X_train_cat['education'].unique()

array(['High School or Below', 'Bachelor or above', 'College'],
      dtype=object)

In [41]:
X_train_cat['education']=X_train_cat['education'].map({'High School or Below':0, 'Bachelor or above':0.5, 'College':1})

In [42]:
X_test_cat['education']=X_test_cat['education'].map({'High School or Below':0, 'Bachelor or above':0.5, 'College':1})

In [30]:
X_train_cat['location_code'].unique()

array(['Urban', 'Suburban', 'Rural'], dtype=object)

In [43]:
X_train_cat['location_code']=X_train_cat['location_code'].map({'Urban':0, 'Suburban':0.5, 'Rural':1}) 
#how is rural objectively better than urban?

In [44]:
X_test_cat['location_code']=X_test_cat['location_code'].map({'Urban':0, 'Suburban':0.5, 'Rural':1})

In [31]:
X_train_cat['vehicle_size'].unique()

array(['Medsize', 'Small', 'Large'], dtype=object)

In [45]:
X_train_cat['vehicle_size']=X_train_cat['vehicle_size'].map({'Medsize':0.5, 'Small':0, 'Large':1})

In [46]:
X_test_cat['vehicle_size']=X_test_cat['vehicle_size'].map({'Medsize':0.5, 'Small':0, 'Large':1})

In [ ]:
X_train = np.concatenate((numericals_train_standardized,categoricals_train_encoded),axis=1)
X_test = np.concatenate((numericals_test_standardized,categoricals_test_encoded),axis=1)

In [ ]:
we need to concatenate x_train_cat OHE with x_train_cat ordinal to give us X_train_cat
we need to concatenate x_test_cat OHE with x_test_cat ordinal to give us x_train_test

then we need to concatenate x_train_cat with x_train_num to give us x_train(encoded and scaled)
we also need to concatenate x_test_cat with x_test_num to give us x_test (encoded and scaled)

Since the model will only accept numerical data, check and make sure that every column is numerical, if some are not, change it using encoding.

Try a simple linear regression with all the data to see whether we are getting good results.

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
lm = LinearRegression()

In [ ]:
lm.fit(X_train,y_train)

In [ ]:
y_pred_lm=lm.predict(X_test)

In [ ]:
lm.score(X_train,y_train) (#this is another (shorter) way to get the R2 score, in this case on the traindata)

In [ ]:
lm.score(X_test,y_test) (#this is another (shorter) way to get the R2 score, in this case on the testdata)

Great! Now define a function that takes a list of models and train (and tests) them so we can try a lot of them without repeating code.

Use the function to check LinearRegressor and KNeighborsRegressor.

In [47]:
from sklearn.neighbors import KNeighborsRegressor

KNN = KNeighborsRegressor(n_neighbors=3)
KNN.fit(X_train, y_train)

score = KNN.score(X_test, y_test)
score

score_train = KNN.score(X_train, y_train)
score_train

predictions = KNN.predict(X_test)
predictions

y_test

ValueError: could not convert string to float: 'Nevada'

You can check also the MLPRegressor for this task!

Check and discuss the results.